#MenuLogo {
	margin-right: 1em;
}

nav {
	background-color: #0454ab;
}

.navbar-toggler {
	margin-right: 1em;
	border: none;
}

nav a {
	color: white;
}

nav a:hover {
	color: #f30eac;
} 

#blue {
	background-color: #0454ab;
	color: white;
	font-size: 20px;
}

.navbar-brand img {
	height: 30px;
}

.navbar.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.nav-tabs .nav-link.active {
	border-color: #f30eac;
	border-bottom-color: #fff;
}

.nav-tabs .nav-link {
	border-bottom-color: #f30eac50;
}

/*#vertnav li a.active {
	background-color: #0454ab;
	color: #fff;
	border: solid 1px #f30eac;
}

#vertnav li a {
	text-align: left;
	padding-left: 2px;
	margin-left: 0px;
	border-radius: 10px;
}

#vertnav {
	margin-top: 5em;
	max-width: 10em;
} */

html, body {
	margin: auto;
	height: 100%;
	scroll-behavior: smooth;
	position: relative;
}

#italic {
	font-style: italic;
	padding-left: 10px;
	font-size: 20px;
	margin-bottom: 10px;
}

#runlop {
	font-size: 30px;
}

.title{
	font-style: italic;
}

#runlop-small {
	font-size: 20px;
	color: #fff;
}

.container .dropdown .dropdown-menu {
	color: pink; 
	background-color: #fff;
	border-style: solid;
	border-color: #0454ab;
}

.dropdown-menu .dropdown-item {
	display: inline-block; 
	width: 100%; 
	padding: 10px 5px;
}

.container .dropdown .dropdown-menu a:hover {
    color: #fff;
    background-color: #0454ab;
    border-style: solid;
    border-color: #fff;
}

#CurrentProjectContainer {
	border-style: none;
	border-color: #0454ab;
	background-color: #000;
	border-width: 1px;
	color: #0454ab;
	padding-top: 1rem;
	margin-top: 5px;
}

#CurrentProject {
	font-size: 2rem;
	text-decoration: underline; 
}

#CurrentProjectFillIn {
	font-size: 1.2rem;
	color: #000;
	text-decoration: underline; 
}

#GoalContainer {
	border-style: solid;
	border-color: #0454ab;
	background-color: #000;
	border-width: 1px;
	border-radius: 25px;
	padding-top: 1rem;
	margin-top: 5px;
}

#PeriodContainer {
	border-style: solid;
	border-color: #0454ab;
	border-radius: 25px;
	background-color: #000;
	border-width: 1px;
	padding-top: 1rem;
	margin-top: 5px;
}

.line {
	width: 90%;
	margin-bottom: 10px;
	border-top: 1px solid #000;
}

.line2 {
	width: 100%;
	margin-bottom: 10px;
	border-top: 1px solid #000;
	margin-top: 1em;
}

#StatsContainer {
	border-style: solid;
	border-color: #0454ab;
	background-color: #000;
	border-width: 1px;
	border-radius: 25px;
	padding-top: 1rem;
	margin-top: 5px;
}

#LRContainer {
	border-style: solid;
	border-color: #0454ab;
	background-color: #000;
	border-width: 1px;
	border-radius: 25px;
	padding-top: 1rem;
	margin-top: 5px;
}

#CalendarContainer {
	border-style: solid;
	border-color: #0454ab;
	background-color: #000;
	border-width: 1px;
	border-radius: 25px;
	padding-top: 1rem;
	margin-top: 5px;
}

#BioBox {
	border-style: dotted;
	border-color: #0454ab;
	border-width: 2px;
	padding: 20px 50px 10px 50px;

  	vertical-align: middle;
  	position: relative;
  	border-left-style: dotted;
}

.row-content {
	margin: 0px auto;
    padding: 50px 20px;
    border-bottom: 1px ridge;
    min-height: 400px; 

}

.foot {
	border-style: solid;
	border-color: #fff;
	background-color: #fff;
	border-width: 1px;
	border-bottom-color: #0454ab;
	border-bottom-width: 0px;

}

.foot1 {
	background-color: #0454ab;
	color: #fff;
	height: 2em;
}

#index {
	border-style: solid;
	border-width: 2px;
	border-color: #0454ab;
	border-radius: 5px;
	max-width: 300px;
	z-index: -1;
	margin-top: 70px;
}

#index h4 {
	text-decoration: underline;
	padding-bottom: 10px;
	padding-top: 10px;
}
#index .active{
	background-color: #0454ab;
}

#index :not(.active):hover {
	background-color: white;
	border-style: solid;
	border-width: 2px;
	border-color: #f30eac;
	color: #f30eac;
}

#ih4:hover {
	border: none!important;
	color: #000 !important;
}

.carousel-item img {
	height: 300px;
}

.carousel-item p {
	font-weight: bold;
}

.row-header {
	margin-left: 20px;
	margin-bottom: 0px;
	margin-top: 20px;
}

.row-content {
	padding-top: 0px;
}

.blogstyle {
	border-bottom: solid 1px;
	border-color: #0454ab;
	padding-bottom: 1em;
	margin-bottom: 2em;
	padding-right: 2em;
}

#blogcontainer {
	max-width: 1500px;
}
.blogpic {
	border-style: solid;
	border-width: 2px;
	border-color: #0454ab;
	border-radius: 15px;
	margin-top: 35px;
	margin-left: 5px;
	max-height: 500px;
	overflow: hidden;
}

.overflow {
	height: 410px;
	overflow-y: hidden;
}

.blogstyle-title {
	font-weight: bold;
	font-size: 20px;
	text-decoration: underline;
}

.container-fluid {
	margin-top: 25px;
	margin-bottom: 25px;
}

.card-ex {
	border-style: solid;
	border-width: 2px;
	border-color: #0454ab;
	max-height: 40rem;
}

.card-footer {
	margin-top: 25px;
}

.card-overflow {
	overflow: hidden;
}

.card:hover {
	border-color: #f30eac;
}


.card img {
	max-height: 15.5em;
	height: 100%;
	width: 100% !important;
}

.card-text {
	margin-top: 30px;
}

.card-text .pl-3 {
	padding-top: 15px;
}

.nut-ul {
	padding-left: 
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

#nocontent {
	font-size: 50px;
}

.card-row {
	margin: 20px 20px 20px 20px;
}

.vit-card {
	max-width: 25rem;
	margin: 20px 20px 20px 20px;
}

.vit-card li {
	margin-bottom: 10px;
}

li.nav-item :hover {
	color: #f30eac !important;
}

.pinkbut {
	background-color: #0454ab;
	color: #fff;
}

.pinkbut:hover {
	background-color: #fff !important;
	color: #0454ab;
	border-color:#0454ab;
	border-width: 2px;
	font-weight: bold;
}

.carousel-item img {
	max-width: 50%;
	height: auto;
	min-width: 320px;
}

.modal-dialog {
	height: 100vh;
}

.carousel-color {
	background-color: #0454ab;
}

.carousel-indicators li {
	background-color: #0454ab;
}

.carousel-indicators li.active {
	background-color: #f30eac;
}

.carousel-control-next-icon {
	background-color: #0454ab;
	color: #f30eac;
}

.carousel-control-prev-icon {
	background-color: #0454ab;
	color: #f30eac;
}

.modbod-color {
	background-color: #fff;
}

.modhead-color {
	background-color: #0454ab;
	color: #fff;
}

.modal-header .close {
    color: floralwhite; }

#mycarousel img {
	margin-bottom: 10px;
	margin-top: 10px;
}

.modal {
	max-width: 100%;
	max-height: 100%;
}

.carousel-inner {
	height: 100%;
}

#OlFoot {
	background-color: #0454ab;
	color: #fff;
	font-weight: bold;
	font-size: 1em;
	margin-bottom: 3px;
	padding-bottom: 1px;
}	

.figpic {
	width: 25%;
	margin-right: 1em;
	margin-top: 0.5em;
	margin-left: 1em;
}

#h2PW {
	background-color: #0454ab;
	color: #fff;
}

#divhome {
	max-width: 1200px !important;
	margin: 0 auto;
	margin-top: 20px !important;
}

.row .col-3 p {
	font-weight: bold;
}

.blok {
	background-color: #0454ab16;
	margin-right: 1em;
	border: solid 1px #f30eac;
	border-radius: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.blok .row {
	margin: 5px 5px 5px 5px;
}

.embed-container {
	width: 100% !important;
	border: none;
	margin: 0 auto;
	display: flex;
}

iframe {
	border: none !important;
}

#container-left {
	max-width: 1400px !important;
	margin: 0 auto !important;
}

.card {

}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  }

.sticky + main {
  padding-top: 60px;
}

.navbar {
	overflow: hidden;
	z-index: 100;
}

/* count to a number  -  start */

.counter {
    background-color:#0454ab;
    padding: 20px 0;
    border-radius: 5px;
    color: #fff;
    border: solid 2px #f30eac;
}

.counter h2 {
	color: #000;
}

.count-title {
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.count-text {
    font-size: 13px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    color: #fff;
}

.fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: #f30eac;
}

#countt {
	margin-bottom: 100px !important;
}

/* count to a number  -  end */


.move-left {
	margin-left: -700px;
}

.move-right {
	margin-left: -700px;
}

.concenter {
	justify-content: center !important;
}

.conleft {

}

.conright {
	float: right !important;
}

.gut  {
	min-height: 100vh;
}

.titel {

		margin-bottom: 5px;
		justify-content: center;
}

.titel1 {
	width: 25%;
}

.titel2 {
	width: 75%;
}

.nostyle {

}

.showme {
	width: 100%;
	margin-left: 10px;
}

 .line{
width: 75%;
height: 1px;
border-bottom: 0px solid black;
justify-content: center;
}

.lijn {
	border-top: 1px solid #f30eac;
	margin-bottom: 25px;
}

.licht {
	background-color: #f30eac10;
	padding: 5px;
	border: 1px solid #f30eac;
	width: 90%;
}

.lager {
	margin-top: 15px;
}

#total {
	background-color: #fff;
	width: 60%;
	justify-content: center
}

.carousel{
  margin-top: 5px;
}
.carousel-inner{
  height: 20vh;
}
.carousel-caption{
  color: #0454ab;
  top: 30%;
}

.totalen {
	background-color: #0454ab20;
	padding: 5px;
	border: 1px solid #f30eac;
	width: 100vw;
	color: #000;
	font-size: 18px;
	margin-left: 10px;
}



