<div id="countTo" class="container">
	<div class="row">
	    <br/>
	   	<div class="col text-center">
			<h2>Current Project in Numbers</h2>
			<p>for all distances the metric system was used</p>
		</div>								
	</div>
	<div class="row text-center">
        <div class="col">
	        <div class="counter">
			    <i class="fa fa-code fa-2x"></i>
			    <h2 class="timer count-title count-number" data-to="70" data-speed="1000"></h2>
			    <p class="count-text ">Total days</p>
    		</div>
    	</div>
        <div class="col">
            <div class="counter">
			    <i class="fa fa-coffee fa-2x"></i>
			    <h2 class="timer count-title count-number d-inline" data-to="160000" data-speed="1500">meter</h2><span> meter</span>
			    <p class="count-text ">Total distance</p>
    		</div>
        </div>
        <div class="col">
            <div class="counter">
			    <i class="fa fa-lightbulb-o fa-2x"></i>
			    <h2 class="timer count-title count-number" data-to="39600" data-speed="1500">sec</h2>
			    <p class="count-text ">Total Time (sec)</p>
		    </div>
		</div>
        <div class="col">
            <div class="counter">
			    <i class="fa fa-bug fa-2x"></i>
			    <h2 class="timer count-title count-number" data-to="15" data-speed="100">mm/h</h2>
			    <p class="count-text ">Average Speed</p>
		    </div>
        </div>
    </div>
</div>